@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-white-pink {
  background-color: #FFE5E5;
}
.bg-light-pink { background-color: #FFCCCC; }
.bg-soft-red { background-color: #FF8080; }
.bg-medium-red { background-color: #FF4B4B; }
.bg-bright-red { background-color: #FF0000; }
.bg-orange { background-color: #FF9F06; }
.bg-pale-pink { background-color: #FFE9E9; }
.bg-soft-cool-red {
   background-color: #FFE6E6;
}
.bg-small-pink {
  background-color: #FF7E70
}
.text-light-pink,

.text-soft-red { color: #FF8080; }
.text-medium-red {
  color: #FF4B4B;
}

.text-soft-cool-red {
  color: "#FFE6E6";
}
.bg-small-gray {
  background: linear-gradient(180deg, #FFFFFF 0%, #F7F8FE 100%);
}
.text-bright-red { color: #FF0000; }
.text-orange { color: #FF9F06; }
.text-pale-pink { color: #FFE9E9; }
.border-medium-red {
  border-color: #FF4B4B;
}

.border-light-red {
  border-color: #FFCCCC;
}

.border-bright-red {
  border-color: #FF0000;
}

body {
  font-family: 'Nunito';
  display: block;
 
}

button:hover,
 button:focus,
 button:focus-visible {
  border-color: #FF8080;
  outline: #FF8080;
}

#orders button:hover,
#orders button:focus,
#orders button:focus-visible
#orders button {
  border-color: #FF8080;
  outline: #FF8080;
}

#overall {
  background-image: url("../src/assets/Pattern_Plan.png");
  background-color: #FF0000;
}

#thanks {
  background: url("../src/assets/images/thanks_pattern.png") center/cover no-repeat;
}